* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.page1 {
  background-image: url(./attachments/Frontpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: white;
  /* display: none; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-right: 10px;
  flex-wrap: wrap;
}
.top_left {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: 550;
}
.top_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* padding-top: 12px; */
  padding-right: 05px;
  font-size: 21px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.subscribe {
  border: 1px solid white;
  width: 160px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 300px;
}
.largetext {
  font-size: 70px;
}
.smalltext {
  font-size: 30px;
  /* font-weight: 100; */
}
.page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 20px;
  /* display: none; */
}
.hightext {
  font-size: 40px;
  font-weight: 600;
}
.line1 {
  border: 3px solid black;
  height: 0px;
  width: 100px;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;
}

.image {
  /* border: 1px solid black; */
  height: 500px;
  width: 350px;
  box-shadow: 10px 10px 60px rgb(125, 122, 122);
}
.photo {
  width: 350px;
  height: 250px;
}
.otherhalf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  gap: 20px;
}
.line {
  border: 2px solid black;
  height: 0px;
  width: 50px;
}
.paragraph {
  text-align: center;
  font-size: 22px;
  font-weight: 550;
  line-height: 30px;
}

.page3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
  /* border: 1px solid rgb(6, 6, 6); */
  height: 750px;
  /* display: none; */
}
.fullimage {
  width: 50%;
  /* border: 1px solid rgb(6, 6, 6); */
  height: 700px;
}
.page3image {
  width: 100%;
  height: 100%;
}
.textbox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 80px; */
  gap: 20px;
  /* border: 1px solid black; */
  height: 100%;
  padding: 55px;
  text-align: center;
  /* padding-top: 130px; */
}
.about {
  font-size: 60px;
  font-weight: 700;
}
.line3 {
  border: 3px solid black;
  height: 0px;
  width: 100px;
}
.textcontainer {
  padding-top: 30px;
  font-size: 26px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.hightext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-bottom: 900px; */
  /* padding-right: 420px; */
  /* line-height: 100px; */
  padding-top: 80px;
}
.subscribe1 {
  font-size: 50px;
  padding-right: 30px;
}
.sign_up {
  padding-top: 10px;
  font-size: 25px;
  font-weight: 400;
  padding-right: 30px;
}
.input {
  padding-right: 10px;
  padding-top: 10px;
}
.input input {
  width: 350px;
  height: 50px;
  text-align: left;
  padding-left: 55px;
  font-size: 20px;
  border: none;
}
.input input:active {
  border: 2px solid black;
}
.submit {
  padding-bottom: 50px;
  padding-top: 10px;
}
.submit button {
  width: 120px;
  height: 40px;
  font-size: 20px;
}
.footer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
  /* gap: 20px; */
  padding-left: 250px;
  padding-right: 250px;
  /* border: 1px solid black; */
  height: 350px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  padding-bottom: 100px;
  font-weight: 550;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.footer a {
  color: black;
  text-decoration: none;
}
.iconimage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.iconimageinsta {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.menu {
  display: none;
  font-size: 35px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .page3 {
    flex-direction: column;
    height: auto;
  }
  .top_right {
    display: none;
  }
  .menu {
    display: block;
  }
  .fullimage {
    width: 100%;
    height: auto;
  }

  .textbox {
    width: 100%;
    padding: 20px;
  }
  .largetext {
    font-size: 25px;
  }
  .smalltext {
    font-size: 19px;
  }
  .textcontainer {
     word-wrap: break-word;
    font-size: 18px;
    line-height: 30px;
   
  }
  .hightext {
    text-align: center;
    padding: 20px;
    /* word-wrap: break-word; */
  }
  .subscribe1 {
    font-size: 40px;
    padding-right: 0;
  }
  .sign_up {
    padding-right: 0;
  }
  .input input {
    width: 90%;
  }
  .footer1 {
        padding: 40px 20px;
    flex-direction: column;
    height: auto;

  }
  .images {
      align-items: center;
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }
}
