* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(158, 185, 199);
  padding: 10px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
  background-color: aquamarine;
  /* border-radius: ; */
}
.logo {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  /* text-align: center; */
  font-size: large;
  background-color: bisque;
}
.logo p {
  text-align: center;
  margin-top: 8px;
}
.create {
  border: 1px solid rgba(7, 7, 7, 0.068);
  border-radius: 10px;
  width: 100px;
  height: 40px;
  /* text-align: center; */
  font-size: large;
  background-color: bisque;
}
.card {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  height: 80%;
  width: 99%;
}
.input_form {
  display: flex;

  flex-direction: column;
  border: 3px solid rgb(172, 170, 170);
  width: 600px;
  height: 400px;
  padding: 20px;
  gap: 25px;
  background-color: rgb(249, 223, 192);
  border-radius: 15px;
  box-shadow: 5px 4px 15px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input {
  width: 70%;
  text-align: center;
  height: 30px;
  border-radius: 20px;
}
.exit {
  display: flex;
  justify-content: space-between;
}
.cross {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 70px;
}
.cross:hover{
    cursor: pointer;
}
.form_create {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(144, 231, 244);
}
.collection{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    padding-left: 20px;
}

.item_card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    border: 1px solid black;
    height: 350px;
   padding-left: 20px;
   padding-top: 10px;
   margin-top: 10px;
   border-radius: 20px;
   background-color: beige;
}
.image img{
    height: 200px;
    width: 310px;
       border-radius: 20px;
}
.control_button{
     display: flex;
     justify-content: space-between;
     margin-right: 15px;

}
.control_button button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: medium;
}
.edit{
    background-color: rgb(140, 196, 140);
}
.Delete{
    background-color: rgb(200, 37, 37);
}
