* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(177, 228, 211);
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
form{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    width: 400px;
    height: 200px;
    background-color: rgb(233, 221, 204);
       border-radius: 10px;
}
input{
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}
button{
    width: 100px;
    height: 30px;
      border-radius: 10px;
      background-color: rgb(42, 159, 189);
      color: rgb(255, 255, 255);
      font-size: medium;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:start;
    gap: 20px;
        border: 1px solid black;
       width: 300px;
       height: 300px; 
       padding: 15px;
         border-radius: 20px;
         background-color: rgb(190, 186, 186);

}
.image{
    width: 100%;
        border: 1px solid black;
        height: 60%;
        border-radius: 20px;
    
}
.person_image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.details{
    margin-left: 5px;
}
.buttons{
      display: flex;
      gap: 50px;
      margin-left: 10px;
}
.taskmanager{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
